header {
//border: solid 2px red;
display: flex;
align-items: center;
justify-content: space-between;
background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
height: 15vh;
width: 100%;
}


.boxLogo {
    //border: solid 2px purple;
    width: 23vw;
    display: flex;
    align-items: center;
    color: white;
    height: 15vh;
    justify-content: space-evenly;
    img{
        width: 20%;
    }
    
    h1{
        font-size: 25px;
        font-weight: bold;
      
    }

    }

    .boxMenu{
        //border: solid 2px green;
        width: 35vw ;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            a{
                color: white;
            }
            
        }
            }

 .boxSearch {

    border: solid 2px white;
    width: 17vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding-right: 20px;
    margin-right: 20px;

 }

.boxInput {
border: none;
outline: none;
width: 13vw;
background-color: transparent;
padding-left: 20px;
color: white;
font-size: 17px;
&::placeholder{
    color: white;
}


 }


 @media(max-width: 1170px){
    .boxLogo{
      // border: solid 2px red;
      h1{
        font-size: 1.7vw;
      }
      img{
        width: 5vw;
      }
    }

    .boxMenu{
    //  border: solid 2px yellow;
     ul{
      font-size: 1.6vw;
     }
    }

   .boxSearch{
    width: 20vw;
   } 
   .boxInput{
    width: 16vw;
    &::placeholder{
      font-size: 1.3vw;
    }
   }
}

@media(max-width: 760px){

  header{
    height: 25vh;
    flex-direction: column;
    justify-content: space-around;
  }

  .boxSearch{
   display: none;
  }

  .boxLogo{
    width: 100%;
    justify-content: space-evenly;
    h1{
      font-size: 28px;
    }
    img{
      width: 50px;
    }
  }

  .boxMenu{
    width: 100%;
    ul{
      font-size: 22px;
      justify-content: space-around;
    }
  }
}

@media(max-width: 380px){
      .boxMenu{
        ul{
          font-size: 18px;
        }
      }
}